nav {
    background: #162144;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #e1a730;
}